.asset-type-zip .asset-type-icon{
    font-size: 10em;
}
.asset-type-zip .assetPrivacyContainer label.css-radio-label i.fa-lock{
    color: #a3a1a1;
}
.asset-type-zip .assetPrivacyContainer label.css-radio-label i.fa-binoculars,
.asset-type-zip .assetPrivacyContainer label.css-radio-label i.fa-globe {
    color: #125fad;
}
.asset-type-zip .assetPrivacyContainer .asset-privacy-opt {
    word-break: break-all
}
.asset-type-video .folderIcon, .asset-type-image .folderIcon, .asset-type-pdf .folderIcon {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}
.asset-type-video .folderIcon img, .asset-type-image .folderIcon img, .asset-type-pdf .folderIcon img {
    max-height: 100px;
}
.asset-type-video .btnDocFormIconEdit, .asset-type-image .btnDocFormIconEdit, .asset-type-pdf .btnDocFormIconEdit {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 24px;
    height: 24px;
    border: none;
}