.CGDetailsContainer{
    background-color: #fff;
    border: 1px solid #eae8e8;
    border-radius: 4px;
}
.CGDetailsContainer .CG_CTA_Container a{
    width: 38px;
    text-align: center;
}
.CGDetailsContainer .CG_CTA_Container ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.CGDetailsContainer .CG_Info_Row .btnEditPrivateTags,
.CGDetailsContainer .CG_Info_Row .btnSaveGroupTags,
.CGDetailsContainer .CG_Info_Row .btnAddRoleTags{
    background-color: #EAE8E8;
    border: 0;
    color: #333;
    border-radius: 50%;
    font-size: 12px;
    opacity: 0;
    width: 28px;
    height: 28px;
    line-height: 26px;
    margin: 0 auto;
    padding: 0 0 1px;
}
.CGDetailsContainer .CG_Info_Row .btnEditPrivateTags{
    position: absolute;
    right: 15px;
}
.CGDetailsContainer .CG_Info_Row .btnSaveGroupTags{
    position: absolute;
    right: -10px;
    top: -12px
}
.CGDetailsContainer .CG_Info_Row .btnAddRoleTags{
    position: absolute;
    right: -10px;
    bottom: -12px
}
.CGDetailsContainer .CG_Info_Row:hover .btnEditPrivateTags,
.CGDetailsContainer .CG_Info_Row:hover .btnSaveGroupTags,
.CGDetailsContainer .CG_Info_Row:hover .btnAddRoleTags{
    opacity: 1;
}

#team_container .swiftCloudTabs{
    margin-right: 0;
}
#tblContacts .btnTHSoryByTags {
    background: none !important;
    color: #fff;
}
#tblContacts_wrapper .dataTables_filter {
    left: 0;
}
#tblContacts .contactListCompany{
    margin: 0 8px;
    background: #e7e7e7;
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 12px;
}
#tblContacts .contactListQuickTools {
    display: none;
}
#tblContacts tbody tr:hover .contactListQuickTools {
    display: inline-block;
    margin-right: 8px;
}
#tblContacts .contactListQuickTools a{
    color: #186abc;
    margin: 0 3px;
}
#contactGroupViewTemplate .SCChatDockNonSocialAssetOnly{
    width: 47%;
}
#more_container .folderIcon {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}
#more_container .folderIcon img {
    max-height: 100px;
}
#more_container .btnDocFormIconEdit {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 24px;
    height: 24px;
    border: none;
}
.chatDockSwitch{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.chatDockSwitch input[type=checkbox] {
    display: none;
}
.chatDockSwitch input[type=checkbox] + label{
    background: var(--bs-blue-color);
    color: #FFF;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 26px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.chatDockSwitch input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}
.chatDockSwitch input[type=checkbox] + label:before {
    content: "\f086";
}
.chatDockSwitch input[type=checkbox]:checked + label:before {
    content: "\f086";
}


@media(max-width: 575px){

}