#tblDrive_wrapper .dataTables_filter{
    top: -37px;
}
.btnTHSoryByTags {
    background: none !important;
    color: #fff;
}
#tblDrive tbody tr td:nth-child(2) > a{
    margin-right: 5px;
}
#tblDrive tbody tr a.btnSocializer{
    display: none;
}
#tblDrive tbody tr:hover a.btnSocializer{
    display: inline-block;
}

/* small icons */
.smallIconList{
    border-top: 1px solid var(--bs-nav-bg-hover);
    list-style: none;
    padding: 20px 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.smallIconList li{
    width: calc(16.666667% - 20px);
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}
.smallIconList li:hover{
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}
.smallIconList li a{
    color: var(--bs-body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0px 10px;
    text-decoration: none;
    text-align: center;
    height: 90px;
}
.smallIconList .folderIcon{
    background-color: #fff8cf;
}
.smallIconList .folderIcon a{
    font-weight: bold;
}
.smallIconList .folderIcon a i.fa{
    font-size: 32px;
}
.smallIconList .fileTypeIcon{
    display: inline-block;
    border-radius: 4px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    line-height: 40px;
}
.smallIconList .fileTypeIcon i.fa{
    font-size: 20px;
}
.smallIconList .fileTypeIcon img{
    max-width: 36px;
    max-height: 36px;
}
.smallIconList .fileName{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
/* small icons */

/* large icons */
.largeIconList{
    border-top: 1px solid var(--bs-nav-bg-hover);
    list-style: none;
    padding: 20px 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.largeIconList li{
    width: calc(25% - 20px);
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    position: relative;
    height: 250px;
}
.largeIconList li:hover{
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}
.largeIconList li a{
    color: var(--bs-body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.largeIconList .folderIcon{
    background-color: #fff8cf;
}
.largeIconList .folderIcon a{
    font-weight: bold;
}
.largeIconList .folderIcon a i{
    font-size: 5em;
    color: var(--bs-body-color);
}
.largeIconList .fileTypeIcon i{
    font-size: 5em;
    color: #FFF;
}
.largeIconList .fileName{
    background: #FFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    padding: 5px;
    display: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.largeIconList li:hover .fileName{
    display: block;
}
.largeIconList li img{
    max-width: 100%;
}
/* small icons */

.btn-helpDeskTask, .btn-DriveFilterView{
    margin-top: 2px;
}
.btnRemovePeople{
    position: absolute;
    right: 3px;
    top: -9px;
    font-size: 10px;
    background: red;
    color: #FFF;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    display: none;
}
.btnRemovePeople:hover{
    color: #FFF;
}
.shareWithOtherPeopleContainer .row:hover .btnRemovePeople{
    display: block;
}
#newFolderWorkroomModal .nav-wizard > li {
    width: calc(100% / 2) !important;
}
#newFolderWorkroomModal .nav-wizard > li.SaleStatus_Pending > a {
    background-color: #ffff00;
    color: #333;
}
#newFolderWorkroomModal .nav-wizard > li.SaleStatus_NotStarted > a {
    background-color: #dc3545;
    color: #fff;
}
#newFolderWorkroomModal .nav-wizard > li > a {
    padding: 0px 15px;
    position: relative;
    background-color: #eeeeee;
    display: flow-root;
    height: 24px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
    font-size: 12px;
    text-decoration: none;
}
#newFolderWorkroomModal .nav-wizard > li.SaleStatus_NotStarted > a span, .nav-wizard > li.SaleStatus_Completed > a span {
    display: none;
}
#newFolderWorkroomModal .nav-wizard > li:not(:last-child) > a:after {
    width: 0px;
    height: 0px;
    border-top: 12px inset transparent;
    border-bottom: 12px inset transparent;
    border-left: 12px solid #eeeeee;
    position: absolute;
    content: "";
    top: 0;
    right: -12px;
    z-index: 2;
}
#newFolderWorkroomModal .nav-wizard > li.SaleStatus_Pending > a:after {
    border-left-color: #ffff00;
}
#newFolderWorkroomModal .nav-wizard > li:not(:first-child) > a:before {
    width: 0px;
    height: 0px;
    border-top: 12px inset transparent;
    border-bottom: 12px inset transparent;
    border-left: 12px solid #f7f7f7;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
#newFolderWorkroomModal .nav-wizard > li.SaleStatus_NotStarted > a:before {
    border-right-color: #dc3545;
}
#newPhoneModal .iti.iti--allow-dropdown {
    width: 100%;
}

@media(max-width: 991px){
    .smallIconList li{
        width: calc(25% - 20px);
    }
    .largeIconList li{
        width: calc(50% - 20px);
    }
}
@media(max-width: 768px){
    .mobileTabs .btn-group{
        margin: 3px 0 0 0 !important;
    }
    table.dataTable tr.table_action_container .batch-action-container .btn {
        margin-bottom: 3px;
    }
}
@media(max-width: 575px){
    .smallIconList li{
        width: calc(50% - 20px);
    }
    .largeIconList li{
        width: 100%;
    }
    .columnFilter .sortbytag_row .input-group > *,
    #filterViewForm .sortbytag_row .bootstrap-tagsinput{
        width: 100%;
    }
    .filteredViewBtnGroup > *{
        margin: .15rem;
    }
}
@media(max-width: 420px){
    .smallIconList li{
        width: 100%;
    }
}