/* filter view */
.btn-DriveFilterView {
    margin-top: 2px;
}
#filterViewForm .filterOpts select {
    background-color: #EAE8E8;
}
#filterViewForm .sortbytag_row .bootstrap-tagsinput{
    width: 30%;
}
#filterViewForm .FV_sortbytag_filter_condition_row,
#filterViewForm .FV_sortbytag_search_within_row{
    position: relative;
}
#filterViewForm .FV_sortbytag_filter_condition_row .bootstrap-tagsinput {
    width: 70%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}
#filterViewForm a.btnRemoveSortbyTagFilter, #filterViewForm a.btnRemoveSearchWithinTag {
    background: red;
    border-radius: 50%;
    color: #FFF;
    display: none;
    font-size: 12px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    right: 8px;
    top: -8px;
    text-align: center;
    z-index: 5;
}
#filterViewForm .FV_sortbytag_filter_condition_row:hover a.btnRemoveSortbyTagFilter, 
#filterViewForm .FV_sortbytag_search_within_row:hover a.btnRemoveSearchWithinTag {
    display: block;
}
.filterOpts {
    border: 1px solid #125fad;
    padding: 10px;
    border-radius: 4px;
    position: relative;
}
#savedFilteredList{
    list-style: none;
    margin: 0;
    padding: 0;
}
#savedFilteredList li{
    margin: 0 0 5px;
}
#savedFilteredList li .editFiltered,
#savedFilteredList li .deleteFilter{
    visibility: hidden;
    margin-left: 5px;
}
#savedFilteredList li:hover .editFiltered,
#savedFilteredList li:hover .deleteFilter{
    visibility: visible;
}
#savedFilteredList li a.btn-default:hover{
    color: #FFF;
    text-decoration: none;
}
#savedFilteredList li a.deleteFilter{
    color: #FF0000;
    text-decoration: none;    
}
/* filter view */