.itemBox{
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 10px 15px 0px;
    margin-bottom: 20px;
    position: relative;
}
.itemBox .btnDeleteItemFeed{
    background: red;
    border: 0;
    border-radius: 50%;
    color: #FFF;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    padding: 0;
    display: none;
}
.itemBox:hover .btnDeleteItemFeed{
    display: block;
}
.productImgOpt {
    max-width: 140px;
    position: relative;
}
.productImgOpt img#productImageSource, .productGalleryOpt .productGalleryBlock img{
    border-radius: 4px;
    max-width: 140px;
    max-height: 140px;
    object-fit: cover;
    transition: all 0.15s ease-in-out;
}
.productImgOpt a, .productGalleryOpt .productGalleryBlock a{
    background-color: #ccc;
    border-radius: 50%;
    color: #7e7e7e;
    margin: 5px 5px 0 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border: none;
    text-align: center;
    display: none;
    font-size: 12px;
}
.productImgOpt:hover a, .productGalleryOpt .productGalleryBlock:hover a{
    display: block;
}
.productImgOpt a:hover, .productGalleryOpt .productGalleryBlock a:hover{
    background-color: var(--bs-secondary-bg);
    border-radius: 50%;
    color: #FFF;
}
.productGalleryOpt .productGalleryBlock {
    max-width: 140px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
}

.bfh-selectbox .glyphicon {
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
}