#ContactsSortByTagModal select {
    background-color: #EAE8E8;
}
#ContactsSortByTagModal .sortbytag_row .bootstrap-tagsinput{
    width: 30%;
}
#ContactsSortByTagModal .sortbytag_filter_condition_row,
#ContactsSortByTagModal .sortbytag_search_within_row{
    position: relative;
}
#ContactsSortByTagModal #sortbytag_score{
    width: 30%;
}
#ContactsSortByTagModal .sortbytag_filter_condition_row .bootstrap-tagsinput {
    width: 70%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}
#ContactsSortByTagModal a.btnRemoveSortbyTagFilter, #ContactsSortByTagModal a.btnRemoveSearchWithinTag {
    background: red;
    border-radius: 50%;
    color: #FFF;
    display: none;
    font-size: 12px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    right: 8px;
    top: -8px;
    text-align: center;
    z-index: 5;
}
#ContactsSortByTagModal .sortbytag_filter_condition_row:hover a.btnRemoveSortbyTagFilter, 
#ContactsSortByTagModal .sortbytag_search_within_row:hover a.btnRemoveSearchWithinTag {
    display: block;
}
#ContactsSortByTagModal .modal-dialog {
    max-width: 600px;
}

@media(max-width: 575px){
    #ContactsSortByTagModal .sortbytag_row .input-group > *,
    #ContactsSortByTagModal .sortbytag_row .bootstrap-tagsinput{
        width: 100%;
    }
}