#addressbook .adbook-profile-pic{
    position: relative;
    max-width: 140px;
    margin: 0 auto
}
#addressbook .adbook-profile-pic img{
    border-radius: 50%;
    width: 100%;
    max-height: 140px;
    object-fit: cover;
    transition: all 0.15s ease-in-out;
}
#addressbook .adbook-profile-pic .adbook-profile-pic-edit-btn{
    background-color: #ccc;
    border-radius: 50%;
    color: #7e7e7e;
    font-size: 11px;
    height: 24px;
    margin: 15px 5px 0 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    border: none;
    display: none;
}
#addressbook .adbook-profile-pic:hover .adbook-profile-pic-edit-btn{
    display: block;
}
#addressbook .adbook-profile-pic .adbook-profile-pic-edit-btn:hover{
    background-color: var(--bs-blue-color);
    color: var(--bs-white-color);
}
#addressbook .privacy-col i{
    font-size: 14px;
    width: 35px;
    text-align: center;
}
#addressbook .privacy-col i.fa-globe,
#addressbook .privacy-col .dropdown-menu .dropdown-item span.fa-globe {
    color: #125fad;
}
#addressbook .privacy-col i.fa-eye-slash,
#addressbook .privacy-col .dropdown-menu .dropdown-item span.fa-eye-slash{
    color: #ccc;
}
#addressbook .privacy-col i.fa-users,
#addressbook .privacy-col .dropdown-menu .dropdown-item span.fa-users{
    color: #292b2c;
}

.bootstrap-select .dropdown-menu li.selected .dropdown-item.active {
    background-color: #ffe701 !important;    
    color: #292b2c;
}
#addressbook .privacy-col .btn.dropdown-toggle.btn-light::after{
    display: none;
}
.btnAddNewUserDetail{
    position: relative;
    font-size: 14px;
    line-height: 28px;
    background-color: #FFF;
    color: #428bca !important;
    border: 1px dashed #428bca;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}
.btnSaveTag {
    display: none;
    position: absolute;
    right: 4px;
    top: 4px;
}
.accordion-button{
    font-size: 20px;
    font-weight: bold;
    color: #7e7e7e;
    cursor: pointer;
}
.accordion-button i {
    width: 25px;
    text-align: center;
}
.accordion-button:not(.collapsed){
    background-color: #FDF2AE;
    color: #333;
}
.generalSettings .accordion-body{
    padding: 0;
}
.generalSettings .accordion-body h5 {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    margin: 15px;
    cursor: pointer;
}
.block-active, .block-content:hover {
    background-color: #fffdeb;
}
.setting_label {
    text-align: right;
}
.round-edit-icon {
    background-color: #125fad;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    width: 22px;
    text-align: center;
    margin-right: 15px;
}
.round-edit-icon:hover{
    background-color: #1f4c71 !important;
    color: #FFF6A2 !important;
}
.realName{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.colAction a{
    width: 28px;
    height: 28px;
    margin: 0 auto;
    padding: 0;
    line-height: 28px;
    font-size: 1em;
}
.btnConnectToCompany{
    border: 1px dashed #28a745;
    background-color: #fff;
    color: #28a745;
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    width: 28px;
    height: 28px;
    padding: 0;
    text-decoration: none;
    transition: all 0.4s;
    text-align: center;
}
.btnConnectToCompany:hover{
    border: 1px dashed #28a745;
    background-color: #28a745;
    color: #FFF;
}
.adbook-user-other-info:hover {
    background-color: #fffdeb;
}
.adbook-user-other-info .privacy-col .bootstrap-select > .dropdown-toggle{
    background: transparent;
    border-color: transparent;
}
.adbook-user-other-info:hover .privacy-col .bootstrap-select > .dropdown-toggle{
    background: var(--bs-default);
    border-color: rgba(0, 0, 0, 0.15);
}
.adbook-user-other-info .privacy-col .bootstrap-select > .dropdown-toggle:after{
    display: none
}
.adbook-user-other-info .privacy-col .bootstrap-select .dropdown-menu li:hover a, 
.adbook-user-other-info .privacy-col .bootstrap-select.btn-group .dropdown-menu li.selected {
    background-color: #ffe701 !important;
    color: #292b2c;
}
.pr-15{
    padding-right: 15px;
}
.unverifiedEmail{
    color: #f00 !important;
}

/* team - tree view */
#userAdminTree .tree-folder-open, #userAdminTree .tree-file, #userAdminTree .tree-icon, #userAdminTree .tree-folder {
    background: none !important;
    display: none;
}
#userAdminTree .task-hierarchy-tree-icon {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    padding-left: 1px;
    padding-top: 1px;
    overflow: hidden;
    border-radius: 3px;
}
#userAdminTree  .tree-title {
    line-height: 28px;
}
#userAdminTree.tree > li .tree-node > span {
    font-size: 18px;
}
#userAdminTree.tree > li > ul > li .tree-node > span {
    font-size: 16px;
    color: #666;
}
#userAdminTree.tree > li > ul > li > ul > li .tree-node > span {
    font-size: 14px;
    color: #999;
}
#userAdminTree.tree > li > ul > li > ul > li > ul > li .tree-node > span {
    font-size: 12px;
    color: darkgray;
}

#userAdminTree .teamUserInfoContainer {
    display: inline-block;
}
#userAdminTree .teamUserInfo {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: baseline;
    margin-left: 15px;
}
#userAdminTree .teamUserInfo img{
    max-width: 20px;
    max-height: 20px;
    border-radius: 50%;
    top: 5px;
    position: relative;
}
#userAdminTree .teamUserInfo .teamUserInfoTags ul{
    display: inline-block;
    margin: 0 0 0 15px;
    padding: 0;
}
#userAdminTree .teamUserInfo .teamUserInfoTags ul li{
    display: inline-block;
    margin: 0 15px 0 0;
}
#userAdminTree .teamUserInfo .teamUserInfoTags ul li:last-child{
    margin-right: 0;
}
#userAdminTree .teamUserInfo .teamUserInfoTags ul li a{
    color: #333;
    background-color: #e3f0ff;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    margin: 5px 0 0 0;
    padding: 5px 10px 5px 5px;
    text-decoration: none;
}
#userAdminTree .teamUserInfo .teamUserInfoTags ul li a:before{
    content: '';
    position: absolute;
    left: -13px;
    top: 50%;
    margin-top: -13px;
    border-top: 13px solid transparent;
    border-right: 13px solid #e3f0ff;
    border-bottom: 13px solid transparent;
}
#userAdminTree .teamUserInfo .teamUserInfoTags ul li a:hover{
    background-color: #90a0b0;
    text-decoration: underline;
    color: #fff !important;
}
#userAdminTree .teamUserInfo .teamUserInfoTags ul li a:hover:before{
    border-right: 14px solid #90a0b0;
}
#userAdminTree .teamUserInfo .teamUserInfoAction .btnTeamUserInfoActionAdd{
    border: 1px dashed #218838;
    border-radius: 50%;
    background-color: #218838;
    color: #FFF !important;
    width: 22px;
    height: 22px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
}
#userAdminTree .teamUserInfo .teamUserInfoAction .btnTeamUserInfoActionAdd:hover{
    border: 1px solid #218838;
    background-color: #218838;
    color: yellow !important;
}
#userAdminTree .teamUserInfo .teamUserInfoAction .btnTeamUserInfoActionTrash{
    background-color: #FFF !important;
    border: 1px dashed #914343 !important;
    color: #914343 !important;
    width: 22px;
    height: 22px;
    display: none;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}
#userAdminTree .teamUserInfo .teamUserInfoAction .btnTeamUserInfoActionTrash:hover{
    border: 1px solid #B31E1E !important;
    background-color: #B31E1E !important;
    color: #fff !important;
}
#userAdminTree .teamUserInfo .teamUserInfoAction .btnTeamUserInfoActionSettings{
    background-color: #FFF !important;
    border: 1px dashed #333 !important;
    color: #333 !important;
    width: 22px;
    height: 22px;
    display: none;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}
#userAdminTree .teamUserInfo .teamUserInfoAction .btnTeamUserInfoActionSettings:hover{
    border: 1px solid #333 !important;
    background-color: #333 !important;
    color: #fff !important;
}
#userAdminTree .teamUserInfo .teamUserInfoAction .btnTeamUserInfoActionReportingRole{
    background-color: #FFF !important;
    border: 1px dashed #333 !important;
    color: #333 !important;
    width: 22px;
    height: 22px;
    display: none;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}
#userAdminTree .teamUserInfo .teamUserInfoAction .btnTeamUserInfoActionReportingRole:hover{
    border: 1px solid #333 !important;
    background-color: #333 !important;
    color: #fff !important;
}
#userAdminTree.tree li .tree-node:hover .btnTeamUserInfoActionTrash,
#userAdminTree.tree li .tree-node:hover .btnTeamUserInfoActionSettings,
#userAdminTree.tree li .tree-node:hover .btnTeamUserInfoActionReportingRole{
    display: inline-block;
}
#userAdminTree .teamUserInfo .teamUsername {
    position: relative;
}
#userAdminTree .teamUserInfo .teamUsername .btnTeamUserInfoActionRemove{
    background: red;
    color: #FFF;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 100%;
    font-size: 12px;
    display: inline-block;
    visibility: hidden;
}
#userAdminTree .teamUserInfo .teamUsername:hover .btnTeamUserInfoActionRemove{
    visibility: visible;
}
#userAdminTree .teamUserInfo .teamUsername .btnTeamUserInfoActionRemove:hover{
    color: #FFF !important;
}
#userAdminTree.tree li ul {
    margin-bottom: 0;
}
/* team - tree view */

#tblTransactionTypes .transTypeShowOnHover{
    visibility: hidden;
    color: var(--bs-link-color);
}
#tblTransactionTypes tr:hover .transTypeShowOnHover{
    visibility: visible;
}
#addNewTransactionTypesContainer #transactionTypeIcon, #addNewAssetTypeContainer #customAssetTypeIcon{
    width: 0px;
    padding: 0;
    border: 0;
    height: 0;
}
#addNewTransactionTypesContainer .btn.iconpicker-component,
#addNewAssetTypeContainer .btn.iconpicker-component{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.company_logo_container, .company_logo_dark_container {
    position: relative;
    max-width: 400px;
    max-height: 90px;
    border: 0;
    border-radius: 4px;
    padding: 5px;
}
.company_logo_container img, .company_logo_dark_container img{
    max-width: 280px;
    max-height: 80px;
}
.favicon_container img{
    max-width: 32px;
    max-height: 32px;
}
.company_logo_container .btnEditCompanyLogo,
.company_logo_dark_container .btnEditCompanyLogo,
.favicon_container .btnEditCompanyLogo{
    background-color: var(--bs-default);
    border-color: var(--bs-default);
    border-radius: 50%;
    border: 0;
    color: #413c3c;
    display: inline-block;
    font-size: 11px;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    padding: 0;
    line-height: 24px;
    text-align: center;
    position: absolute;
    right: 30px;
    top: 0;
}
.company_logo_container .btnDeleteCompanyLogo,
.company_logo_dark_container .btnDeleteCompanyLogo,
.favicon_container .btnDeleteCompanyLogo{
    background-color: var(--bs-default);
    border-color: var(--bs-default);
    border-radius: 50%;
    border: 0;
    color: #413c3c;
    display: inline-block;
    font-size: 11px;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    padding: 0;
    line-height: 24px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}

@media (min-width: 768px){
    .inputbox p, .inputbox .form-control, .inputbox .form-select{
        margin: 0;
        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.0);
    }
    .adbook-user-other-info .dropdown-toggle.btn-light {
        border: 1px solid rgba(0, 0, 0, 0.0);
    }
    .adbook-user-other-info .input-group-text{
        display: none;
    }
    .adbook-user-other-info:hover .dropdown-toggle.btn-light {
        background-color: #EAE8E8;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
    .adbook-user-other-info:hover .form-control, .adbook-user-other-info .form-control:focus, 
    .adbook-user-other-info:hover .form-select, .adbook-user-other-info .form-select:focus, 
    .adbook-name:hover .form-control, .adbook-name .form-control:focus, 
    .adbook-slogan:hover .form-control, .adbook-slogan .form-control:focus,
    .realName:hover, .realName:focus,
    .slogan:hover, .slogan:focus{
        background: #FFF;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
    .adbook-user-other-info:hover .input-group-text{
        display: block;
    }
}